<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add new car</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <%include ../layoutadmin/header.ejs %>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                Add new car
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form enctype="multipart/form-data" method="POST" action="/admin/car-manager/add-car">
                    <% if (data && data.error){%>
                    <div id="addnew-alert" class="alert alert-danger">
                        <%=data.error%>
                    </div>
                    <%}%>
                    <div class="form-group">
                        <label>Tên xe</label>
                        <input name="name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Hãng</label>
                        <input name="brand" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Màu xe</label>
                        <input name="exterior_color" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Số ghế</label>
                        <input name="seating" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Giá thuê</label>
                        <input name="price" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Mô tả</label>
                        <input name="description" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <div class="input-group-btn">
                            <div class="fileUpload btn btn-primary fake-shadow">
                                <span><i class="glyphicon glyphicon-upload"></i>Tải ảnh lên<nav></nav></span>
                                <input name="myImage" type="file" class="attachment_upload">
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="reset" class="btn btn-danger">Reset Form</button>
                </form>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
</body>

</html>