<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/admin">Car5Star</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/admin">Home</a></li>
            <li><a href="/admin/car-manager">Quản lý xe</a></li>
            <li><a href="/admin/blog-manager">Quản lý blog</a></li>
            <li><a href="/admin/adminchat">Chat</a></li>
            <li><a href="/admin/adminfeedback">Feedback</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Admin</a></li>
        </ul>
    </div>
</nav>