<!doctype <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/review-car.css" rel="stylesheet">

    <title>Đăng kí thuê xe</title>
</head>

<body>
    <%include ../layout/header%>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <img style="width: 100%;" src="/static/<%=data.car.imageUrl%>" class="img-rounded" alt="Cinque Terre">
            </div>
            <div class="col-md-5">
                <div class="form-area">
                    <form id="feedbackform" role="form" method="POST" action="/view-car/order">
                        <br style="clear:both">
                        <h3 style="margin-bottom: 25px; text-align: center;">Đăng kí thuê xe</h3>
                        
                            <input type="hidden" name="id" class="form-control col-md-3" value="<%=data.car.id%>"
                                readonly>
                        
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="Tên" required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" name="phone" placeholder="Số điện thoại" required>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 col-form-label">Từ ngày</label>
                            <div class="col-8">
                                <input class="form-control" type="datetime-local" value="2019-01-01T00:00:00" name="from">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 col-form-label">Đến ngày</label>
                            <div class="col-8">
                                <input class="form-control" type="datetime-local" value="2019-12-31T00:00:00" name="to">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <textarea class="form-control" type="textarea" name="note" placeholder="Ghi chú"
                                    maxlength="140" rows="7"></textarea>
                            </div>

                            <input type="submit" value="Đăng kí" class="btn float-right">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <% include ../layout/footer %>
    <script src="/static/js/jquery-3.3.1.slim.min.js"></script>
</body>

</html>