<!doctype <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/review-car.css" rel="stylesheet">

    <title>Xem xe</title>
</head>

<body>
    <%include ../layout/header%>
    <div class="container">
        <div class="upcoming py-5">
            <div class="container">
                <div class="row pb-4 text-center">
                    <div class="col-md-12">
                        <h2>Luôn đem đến sự hài lòng cho khách hàng</h2>
                        <p>Car5Star là nơi tập trung hàng trăm xe du lịch cao cấp đa dạng về chủng loại, sang
                            trọng cho khách hàng dễ dàng lực chọn.</p>
                    </div>
                </div>
                <form class="form-group row" method="POST" action="/view-car">
                    <label class="col-form-label">Loại xe</label>
                    <div class="col-sm-3">
                        <select class="form-control" id="seating">
                            <option value="4">4 chỗ</option>
                            <option value="7">7 chỗ</option>
                            <option value="16">16 chỗ</option>
                        </select>
                    </div> 

                    <label class="col-form-label">Hãng</label>
                    <div class="col-sm-3">
                        <select class="form-control" id="brand">
                            <option value="Toyota">Toyota</option>
                            <option value="Huyndai">Huyndai</option>
                            <option value="Honda">Honda</option>
                            <option value="Mercedes">Mercedes</option>
                            <option value="Ford">Ford</option>
                            <option value="BMW">BMW</option>
                        </select>
                    </div>

                    <label class="col-form-label">Giá thuê</label>
                    <div class="col-sm-3">
                        <select class="form-control">
                            <option>3 triệu - 5 triệu</option>
                            <option>5 triệu - 10 triệu</option>
                            <option>> 10 triệu</option>
                        </select>
                    </div>

                    <input type="submit" value="Tìm xe" class="btn float-right">
                </form>
                <div class="row text-center">
                    <%for (var i = 0; i < data.cars.length; i++){%>
                    <div class="col-md-3 box border py-4">
                        <div class="box-carimage">
                            <img src="/static/<%=data.cars[i].imageUrl%>"
                                style ="height: 150px">
                        </div>
                        <div class="box-cartitle">
                            <h4><%=data.cars[i].name%></h4>
                        </div>
                        <div class="box-carprice">
                            <h6><i class="fa fa-inr"></i><%=data.cars[i].price%>/day</h6>
                        </div>
                        <a href="/view-car/review-car/<%=data.cars[i].id%>" type="button" class="btn btn-outline-danger">Check Price</a>
                    </div>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
    <%include ../layout/footer%>
    <script src="static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</body>

</html>