<!doctype <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/blog.css" rel="stylesheet">
    
    <title>Blog</title>
</head>
<body>
    <%include header%>
    <section id="blog">
        <div class="container">
            <h2 class="text-center">Blog Chia sẻ</h2>
            <h5 class="text-center">Nơi chia sẻ các cung đường hấp dẫn của các tài xế.</h3>            
                    
            <div class="row">                           
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        
                    <div class="item active">
                        <div class="row">
                        
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="card text-center">
                                <img class="card-img-top" src="https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?h=350&auto=compress&cs=tinysrgb" alt="" width="100%">
                                <div class="card-block">
                                    <h4 class="card-title">Nha Trang</h4>
                                    <p class="card-text">Thành phố Nha Trang là một trung tâm du lịch sôi động với nhiều thắng cảnh nổi tiếng, điều kiện thiên nhiên ưu đãi cả về vị trí, cảnh quan, khí hậu. </p>
                                    <a class="btn btn-default" href="#">Read More</a>
                                </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="card text-center">
                                <img class="card-img-top" src="https://images.pexels.com/photos/129105/pexels-photo-129105.jpeg?h=350&auto=compress&cs=tinysrgb" alt="" width="100%">
                                <div class="card-block">
                                    <h4 class="card-title">Đà Lạt</h4>
                                    <p class="card-text">Đà Lạt mộng mơ nơi mimosa và ngàn hoa khoe sắc, từ đồi Robin ngắm Hồ Tuyền Lâm, núi Voi, viếng Thiền Viện Trúc Lâm,</p>
                                    <a class="btn btn-default" href="#">Read More</a>
                                </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="card text-center">
                                <img class="card-img-top" src="https://images.pexels.com/photos/129441/pexels-photo-129441.jpeg?h=350&auto=compress&cs=tinysrgb" alt="" width="100%">
                                <div class="card-block">
                                    <h4 class="card-title">Vịnh Hạ Long</h4>
                                    <p class="card-text">Vịnh Hạ Long nơi rồng đáp xuống, là danh thắng quốc gia được xếp hạng từ năm 1962. Hạ Long có 1.969 hòn đảo, lô nhô trên mặt biển, </p>
                                    <a class="btn btn-default" href="#">Read More</a>
                                </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="card text-center">
                                <img class="card-img-top" src="https://images.pexels.com/photos/395196/pexels-photo-395196.jpeg?h=350&auto=compress&cs=tinysrgb" alt="" width="100%">
                                <div class="card-block">
                                    <h4 class="card-title">Côn Đảo</h4>
                                    <p class="card-text">Côn Đảo là một quần đảo ở ngoài khơi bờ biển Nam Bộ Việt Nam và cũng là đơn vị hành chính cấp huyện trực thuộc tỉnh Bà Rịa-Vũng Tàu.</p>
                                    <a class="btn btn-default" href="#">Read More</a>
                                </div>
                                </div>
                            </div>
                            
                        </div> <!-- row -->
                    </div> <!-- item -->                               
                </div>
            </div>                
        </div>
    </section>
    <%include footer%>
    <script src="static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</body>
</html>