<!doctype <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/chat.css" rel="stylesheet">

    <title>Chat</title>
</head>

<body>
    <%include layout/header%>
    <div class="container">
        <div class="panel-body">
            <ul id="conversation" class="chat">
                
            </ul>
        </div>
        <div class="panel-footer">
            <div class="input-group">
                <input id="message" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                <span class="input-group-btn">
                    <button class="btn btn-warning" id="btn_send">
                        Send</button>
                </span>
            </div>
        </div>
    </div>
    <% include layout/footer%>
    <script src="/static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script type="text/javascript">
        //var socket = io.connect("http://125.234.14.225:8088");
        var socket = io.connect("http://localhost:3000/");
        socket.on("connect", function () {
            console.log("user connecting server");
        });

        socket.on("update_message", function (data) {
            $("#conversation").append("<li> <b>" + data.sender + " " + "</b>" + data.message + "</li>");
        });

        $("#btn_send").click(function (e) {
            var  message = $("#message").val();

            $("#message").val("");

            if (message.trim().length != 0) {
                socket.emit("client_send_message", message);
            }
        });

        $("form").submit(function () {
            return false;
        });
    </script>
</body>
</html>