<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">

    <link rel="profile" href="http://gmpg.org/xfn/11">
    
            <meta name="HandheldFriendly" content="True">
            <meta name="MobileOptimized" content="320">
            <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0"/>  

    <img src="logo-jetcar.-1.png" alt="" class="dark-logo">

    <title>Bảng giá thuê xe du lịch tại Jetcar</title>

<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="Jetcar cho thuê xe cao cấp &raquo; Feed" href="http://jetcar.vn/feed/" />

        <style type="text/css">
img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
</style>
<style id='rs-plugin-settings-inline-css' type='text/css'>
#rs-demo-id {}
</style>
<link rel='stylesheet' id='bootstrap-css'  href='http://jetcar.vn/wp-content/themes/composer/_css/bootstrap.min.css?ver=3.1.1' type='text/css' media='all' />
<style id='composer-responsive-stylesheet-inline-css' type='text/css'>
#sub-header, .composer-header-dark #sub-header {
            
        }
        #sub-header .sub-banner-title, .banner-header .sub-banner-title, .breadcrumb li a, .breadcrumb li span, #sub-header .current {
            
        }
        #sub-header .pattern {
            
        }
        body, #main-wrapper {
        }
        #main-wrapper {
            background-color: transparent !important;
        }
</style>
<link rel='stylesheet' id='js_composer_front-css'  href='http://jetcar.vn/wp-content/plugins/js_composer/assets/css/js_composer.min.css?ver=5.4.5' type='text/css' media='all' />
<style>.home .main-nav li a{
color: #fff !important
}</style>       <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
        <meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress."/>
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://jetcar.vn/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]--><meta name="generator" content="Powered by Slider Revolution 5.4.6.4 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
<script type="text/javascript">function setREVStartSize(e){
                try{ var i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;                   
                    if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})                  
                }catch(d){console.log("Failure at Presize of Slider:"+d)}
            };</script>
        <style type="text/css" id="wp-custom-css">
            .wpcf7-text{
    max-width: 100% !important;
}
.main-nav li a{
    font-weight:bold;
} 
table {
    background-color: #fff;
}      </style>
    <noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript>   <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116377623-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116377623-1');
</script>

</head>


    <body style="background-image: url('Geely-4.jpg'); background-repeat: no-repeat; background-size: cover;" class="page-template-default page page-id-240 wp-custom-logo composer-wide full-header wpb-js-composer js-comp-ver-5.4.5 vc_responsive">
        
        <div class="mobile-menu-nav  menu-dark "><div class="mobile-menu-inner"></div></div>
        
        <div id="content-pusher">

        <p id="back-top" class=" hide"><a href="#top"><span class="pixicon-arrow-angle-up"></span></a></p>              <div class="header-wrap none">

                    <div class="header-con sticky-light  pix-sticky-header menu-header-2 menu-dark ">

                        
<header class="header">

    <div class="container">
       
        <div id="main-wrapper" class="clearfix" >
                        <div id="wrapper" data-ajaxtransin="fadeInUp" data-ajaxtransout="fadeOutDown" data-preloadtrans="fadeInUp">
            
    <div id="primary" class="content-area">
        
        <main id="main" class="site-main">

                
                
                    <div class="vc_row wpb_row vc_row-fluid no-padding-vc-row amz-container-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element " >
        <div class="wpb_wrapper">
            <h1 style="text-align: center;color: orange">BẢNG GIÁ CHO THUÊ XE DU LỊCH TỪ TPHCM ĐI CÁC TỈNH</h1>
        

        </div>
    </div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid no-padding-vc-row container"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element " >
        <div class="wpb_wrapper">
            <div class="dataTables_scrollBody table-responsive" style="position: relative; overflow: auto; width: 100%;">
<table id="tablepress-15" class="tablepress tablepress-id-15 dataTable no-footer table table-hover table-striped" style="width: 600px; margin: auto;" role="grid" aria-describedby="tablepress-15_info">
<thead>
<tr class="row-1 odd" style="height: 0px;" role="row">
<th class="column-1 sorting_disabled" style="width: 230px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" colspan="1" rowspan="1">
<div class="dataTables_sizing" style="height: 0; overflow: hidden;">THUÊ XE TỪ TP HMC ĐI</div>
</th>
<th class="column-2 sorting_disabled" style="width: 60px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" colspan="1" rowspan="1">
<div class="dataTables_sizing" style="height: 0; overflow: hidden;">SỐ KM</div>
</th>
<th class="column-3 sorting_disabled" style="width: 60px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" colspan="1" rowspan="1">
<div class="dataTables_sizing" style="height: 0; overflow: hidden;">4 CHỖ</div>
</th>
<th class="column-4 sorting_disabled" style="width: 60px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" colspan="1" rowspan="1">
<div class="dataTables_sizing" style="height: 0; overflow: hidden;">7 CHỖ</div>
</th>
<th class="column-5 sorting_disabled" style="width: 60px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" colspan="1" rowspan="1">
<div class="dataTables_sizing" style="height: 0; overflow: hidden;">16 CHỖ</div>
</th>
</tr>
</thead>
<tbody class="row-hover">
<tr class="row-1 even" role="row">
<td class="column-1"><span id="hcm" style="color: green;"><strong>ĐỊA ĐIỂM</strong></span></td>
<td class="column-2"> <span style="color: green;"><strong>SỐ KM</strong></span></td>
<td class="column-3"> <span style="color: green;"><strong>4 Chỗ</strong></span></td>
<td class="column-4"> <span style="color: green;"><strong>7 Chỗ</strong></span></td>
<td class="column-5"> <span style="color: green;"><strong>16 Chỗ</strong></span></td>
</tr>
<tr class="row-2 even" role="row">
<td class="column-1">Bình Định</td>
<td class="column-2">50</td>
<td class="column-3">1 Triệu</td>
<td class="column-4">2 Triệu</td>
<td class="column-5">3 Triệu</td>
</tr>
<tr class="row-3 even" role="row">
<td class="column-1">Nha Trang</td>
<td class="column-2">55</td>
<td class="column-3">1.5 triệu</td>
<td class="column-4">2 Triệu</td>
<td class="column-5">2.1 Triệu</td>
</tr>
<tr class="row-4 odd" role="row">
<td class="column-1">Hà Giang</td>
<td class="column-2">200</td>
<td class="column-3">1 Triệu</td>
<td class="column-4">1.3 Triệu</td>
<td class="column-5">1.5 Triệu</td>
</tr>
<tr class="row-5 odd" role="row">
<td class="column-1">Nghệ An</td>
<td class="column-2">90</td>
<td class="column-3">1 triệu</td>
<td class="column-4">1.2 Triệu</td>
<td class="column-5">1.3 Triệu</td>
</tr>
<tr class="row-6 even" role="row">
<td class="column-1">Phú Yên</td>
<td class="column-2">100</td>
<td class="column-3">1.3 triệu</td>
<td class="column-4">1.4 Triệu</td>
<td class="column-5">1.6 Triệu</td>
</tr>
<tr class="row-7 odd" role="row">
<td class="column-1">Kon Tum</td>
<td class="column-2">120</td>
<td class="column-3">1 triệu</td>
<td class="column-4">1.3 Triệu</td>
<td class="column-5">1.7 triệu</td>
</tr>
<tr class="row-8 odd" role="row">
<td class="column-1">Gia Lai</td>
<td class="column-2">100</td>
<td class="column-3">1 Triệu</td>
<td class="column-4">1.2 Triệu</td>
<td class="column-5">1.5 Triệu</td>
</tr>
<tr class="row-9 even" role="row">
<td class="column-1">Quảng Ngãi</td>
<td class="column-2">60</td>
<td class="column-3">1.1 Triệu</td>
<td class="column-4">1.4 Triệu</td>
<td class="column-5">1.6 Triệu</td>
</tr>
<tr class="row-10 odd" role="row">
<td class="column-1">Bình Thuận</td>
<td class="column-2">70</td>
<td class="column-3">1 triệu</td>
<td class="column-4">1.2 Triệu</td>
<td class="column-5">1.5 triệu</td>
</tr>
<tr class="row-11 even" role="row">
<td class="column-1">Quảng Bình</td>
<td class="column-2">150</td>
<td class="column-3">1.2 Triệu</td>
<td class="column-4">1.3 Triệu</td>
<td class="column-5">2.5 Triệu</td>
</tr>
<tr class="row-12 odd" role="row">
<td class="column-1">Bình Phước</td>
<td class="column-2">40</td>
<td class="column-3">1.2 triệu</td>
<td class="column-4">1.3 Triệu</td>
<td class="column-5">2 Triệu</td>
</tr>
<tr class="row-13 even" role="row">
<td class="column-1">Bình Dương</td>
<td class="column-2">50</td>
<td class="column-3">1.2 Triệu</td>
<td class="column-4">1.8 Triệu</td>
<td class="column-5">2.1 Triệu</td>
</tr>
<tr class="row-14 odd" role="row">
<td class="column-1">Quảng Ninh</td>
<td class="column-2">300</td>
<td class="column-3">1.3 Triệu</td>
<td class="column-4">1.5 Triệu</td>
<td class="column-5">1.8 Triệu</td>
</tr>
<tr class="row-15 odd" role="row">
<td class="column-1">Vĩnh Phúc</td>
<td class="column-2">260</td>
<td class="column-3">1 Triệu</td>
<td class="column-4">1.4 Triệu</td>
<td class="column-5">1.5 Triệu</td>
</tr>
<tr class="row-16 odd" role="row">
<td class="column-1">Sơn La</td>
<td class="column-2">255</td>
<td class="column-3">1.2 Triệu</td>
<td class="column-4">1.3 Triệu</td>
<td class="column-5">1.6 Triệu</td>
</tr>
<tr class="row-17 odd" role="row">
<td class="column-1">Hòa Bình</td>
<td class="column-2">230</td>
<td class="column-3">1.1 Triệu</td>
<td class="column-4">1.2 Triệu</td>
<td class="column-5">1.5 Triệu</td>
</tr>
<tr class="row-18 odd" role="row">
<td class="column-1">Vĩnh Long</td>
<td class="column-2">140</td>
<td class="column-3">1 Triệu</td>
<td class="column-4">1.2 Triệu</td>
<td class="column-5">1.5 Triệu</td>
</tr>
<tr class="row-19 odd" role="row">
<td class="column-1">Hậu Giang</td>
<td class="column-2">135</td>
<td class="column-3">1.3 Triệu</td>
<td class="column-4">1.5 Triệu</td>
<td class="column-5">1.7 Triệu</td>
</tr>
<tr class="row-20 odd" role="row">
<td class="column-1">Cần Thơ</td>
<td class="column-2">120</td>
<td class="column-3">1 Triệu</td>
<td class="column-4">1.2 Triệu</td>
<td class="column-5">1.5 Triệu</td>
</tr>
<tr class="row-21 odd" role="row">
<td class="column-1">Đồng Nai</td>
<td class="column-2">125</td>
<td class="column-3">1 Triệu</td>
<td class="column-4">1.2 Triệu</td>
<td class="column-5">1.3 Triệu</td>
</tr>





</body>

</html>