<!doctype <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/price-list.css" rel="stylesheet">

    <title>Bảng giá</title>
</head>

<body>
    <%include layout/header%>
    <div class="container">
        <div class="row" style="margin-top: 50px;">
            <div class="col-md-12 text-center">
                <div class="outer-form">
                    <table class="table-striped table table-bordered vertical">
                        <thead style="color: white; font-weight: normal; background-color: rgb(100, 100, 100);">
                            <tr>
                                <th class="head">ĐỊA ĐIỂM</th>
                                <th class="head">SỐ KM</th>
                                <th class="head">4 Chỗ</th>
                                <th class="head">7 Chỗ</th>
                                <th class="head">16 Chỗ</th>
                            </tr>
                        </thead>

                        <tbody style="border:1px solid transparent; background-color:#bbbbbb; color:black; text-align: left;">
                            <tr>
                            <tr class="row-2 even" role="row">
                                <td class="column-1">Bình Định</td>
                                <td class="column-2">50</td>
                                <td class="column-3">1 Triệu</td>
                                <td class="column-4">2 Triệu</td>
                                <td class="column-5">3 Triệu</td>
                            </tr>

                            <tr>
                            <tr class="row-3 even" role="row">
                                <td class="column-1">Nha Trang</td>
                                <td class="column-2">55</td>
                                <td class="column-3">1.5 triệu</td>
                                <td class="column-4">2 Triệu</td>
                                <td class="column-5">2.1 Triệu</td>
                            </tr>

                            <tr>
                            <tr class="row-4 odd" role="row">
                                <td class="column-1">Hà Giang</td>
                                <td class="column-2">200</td>
                                <td class="column-3">1 Triệu</td>
                                <td class="column-4">1.3 Triệu</td>
                                <td class="column-5">1.5 Triệu</td>
                            </tr>

                            <tr>
                            <tr class="row-5 odd" role="row">
                                <td class="column-1">Nghệ An</td>
                                <td class="column-2">90</td>
                                <td class="column-3">1 triệu</td>
                                <td class="column-4">1.2 Triệu</td>
                                <td class="column-5">1.3 Triệu</td>
                            </tr>

                            <tr>
                            <tr class="row-6 even" role="row">
                                <td class="column-1">Phú Yên</td>
                                <td class="column-2">100</td>
                                <td class="column-3">1.3 triệu</td>
                                <td class="column-4">1.4 Triệu</td>
                                <td class="column-5">1.6 Triệu</td>
                            </tr>

                            <tr>
                            <tr class="row-7 odd" role="row">
                                <td class="column-1">Kon Tum</td>
                                <td class="column-2">120</td>
                                <td class="column-3">1 triệu</td>
                                <td class="column-4">1.3 Triệu</td>
                                <td class="column-5">1.7 triệu</td>
                            </tr>

                            <tr>
                            <tr class="row-8 odd" role="row">
                                <td class="column-1">Gia Lai</td>
                                <td class="column-2">100</td>
                                <td class="column-3">1 Triệu</td>
                                <td class="column-4">1.2 Triệu</td>
                                <td class="column-5">1.5 Triệu</td>
                            </tr>

                            <tr>
                            <tr class="row-9 even" role="row">
                                <td class="column-1">Quảng Ngãi</td>
                                <td class="column-2">60</td>
                                <td class="column-3">1.1 Triệu</td>
                                <td class="column-4">1.4 Triệu</td>
                                <td class="column-5">1.6 Triệu</td>
                            </tr>

                            <tr>
                            <tr class="row-10 odd" role="row">
                                <td class="column-1">Bình Thuận</td>
                                <td class="column-2">70</td>
                                <td class="column-3">1 triệu</td>
                                <td class="column-4">1.2 Triệu</td>
                                <td class="column-5">1.5 triệu</td>
                            </tr>

                            <tr>
                            <tr class="row-11 even" role="row">
                                <td class="column-1">Quảng Bình</td>
                                <td class="column-2">150</td>
                                <td class="column-3">1.2 Triệu</td>
                                <td class="column-4">1.3 Triệu</td>
                                <td class="column-5">2.5 Triệu</td>
                            </tr>

                            <tr>
                            <tr class="row-12 odd" role="row">
                                <td class="column-1">Bình Phước</td>
                                <td class="column-2">40</td>
                                <td class="column-3">1.2 triệu</td>
                                <td class="column-4">1.3 Triệu</td>
                                <td class="column-5">2 Triệu</td>
                            </tr>

                            <tr>
                            <tr class="row-13 even" role="row">
                                <td class="column-1">Bình Dương</td>
                                <td class="column-2">50</td>
                                <td class="column-3">1.2 Triệu</td>
                                <td class="column-4">1.8 Triệu</td>
                                <td class="column-5">2.1 Triệu</td>
                            </tr>

                            <tr>
                            <tr class="row-14 odd" role="row">
                                <td class="column-1">Quảng Ninh</td>
                                <td class="column-2">300</td>
                                <td class="column-3">1.3 Triệu</td>
                                <td class="column-4">1.5 Triệu</td>
                                <td class="column-5">1.8 Triệu</td>
                            </tr>

                            <tr>
                            <tr class="row-15 odd" role="row">
                                <td class="column-1">Vĩnh Phúc</td>
                                <td class="column-2">260</td>
                                <td class="column-3">1 Triệu</td>
                                <td class="column-4">1.4 Triệu</td>
                                <td class="column-5">1.5 Triệu</td>
                            </tr>

                            <tr>
                            <tr class="row-16 odd" role="row">
                                <td class="column-1">Sơn La</td>
                                <td class="column-2">255</td>
                                <td class="column-3">1.2 Triệu</td>
                                <td class="column-4">1.3 Triệu</td>
                                <td class="column-5">1.6 Triệu</td>
                            </tr>

                            <tr>
                            <tr class="row-17 odd" role="row">
                                <td class="column-1">Hòa Bình</td>
                                <td class="column-2">230</td>
                                <td class="column-3">1.1 Triệu</td>
                                <td class="column-4">1.2 Triệu</td>
                                <td class="column-5">1.5 Triệu</td>
                            </tr>

                            <tr>
                            <tr class="row-18 odd" role="row">
                                <td class="column-1">Vĩnh Long</td>
                                <td class="column-2">140</td>
                                <td class="column-3">1 Triệu</td>
                                <td class="column-4">1.2 Triệu</td>
                                <td class="column-5">1.5 Triệu</td>
                            </tr>

                            <tr>
                            <tr class="row-19 odd" role="row">
                                <td class="column-1">Hậu Giang</td>
                                <td class="column-2">135</td>
                                <td class="column-3">1.3 Triệu</td>
                                <td class="column-4">1.5 Triệu</td>
                                <td class="column-5">1.7 Triệu</td>
                            </tr>

                            <tr>
                            <tr class="row-20 odd" role="row">
                                <td class="column-1">Cần Thơ</td>
                                <td class="column-2">120</td>
                                <td class="column-3">1 Triệu</td>
                                <td class="column-4">1.2 Triệu</td>
                                <td class="column-5">1.5 Triệu</td>
                            </tr>

                            <tr>
                            <tr class="row-21 odd" role="row">
                                <td class="column-1">Đồng Nai</td>
                                <td class="column-2">125</td>
                                <td class="column-3">1 Triệu</td>
                                <td class="column-4">1.2 Triệu</td>
                                <td class="column-5">1.3 Triệu</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <% include layout/footer%>
    <script src="static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</body>

</html>