<!doctype <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/price-list.css" rel="stylesheet">
    
    <title>Bảng giá</title>
</head>
<body>
        <%include  header%>
    <div class="container">
        <div class="row"  style="margin-top: 50px;">
        <div class="col-md-12 text-center">
                    <div class="outer-form">
            <table class="table-striped table table-bordered vertical">
                  <thead style="color: white; font-weight: normal; background-color: black;" >
                    <tr>
                        <th  class="head">S.No.</th>
                        <th  class="head">Username</th>
                        <th  class="head">E-mail</th>
                        <th  class="head">Phone Number</th>
                        <th  class="head">Location</th>
                    </tr>
                  </thead>

                    <tbody style="border:1px solid transparent; background-color:#242424; color:#A1A6AB; text-align: left;">
                    <tr>
                        <td style="padding: 14px;">01</td>
                        <td>WaLia</td>
                        <td>Walia@gmail.com</td>
                        <td>+1 222 555 6666</td>
                        <td>Ontario, Canada</td>
                        
                    </tr>
                    

                    <tr>
                        <td style="padding: 14px;">02</td>
                        <td>WaLia</td>
                        <td>Walia@gmail.com</td>
                        <td>+1 222 555 6666</td>
                        <td>Ontario, Canada</td>
                        
                    </tr>

                    

                    </tbody>
                </table>
                </div>
            </div>
         </div>
    </div>
    <script src="static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</body>
</html>