a {color:rgb(65, 65, 65);}
.chat
{
    list-style: none;
    margin: 20;
    padding: 10;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted rgb(179, 169, 169);
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
}

.panel-body
{
    overflow-y: scroll;
    height: 450px;
    margin: 5px;
    background-color: rgb(245, 245, 245, 0.8);
}