<!doctype <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/read-post.css" rel="stylesheet">

    <title>ID</title>
</head>

<body>
    <%include ../layout/header%>
    <div class="container">
        <article>
            <header>
                <h1>Title</h1>
            </header>
            <div class="background-bar">
            </div>
            <section class="container-fluid main-body">
                <section class="row">
                    <div class="hidden-xs col-sm-1 col-md-2">
                    </div>
                    <div class="col-xs-12 col-sm-10 col-md-8">
                        <div class="content-holder">
                            <div class="content-description">
                                <div class="author-avatar">
                                    <img src="http://lorempixel.com/90/90/people" class="img-circle" />
                                </div>
                                <div class="author-name">
                                    <h3>Author Name</h3>
                                </div>
                            </div>
                            <div class="content-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin justo nisi, volutpat
                                    in sapien vitae, convallis pharetra eros. Suspendisse mollis mollis leo in luctus.
                                    Donec in enim at ligula ultricies varius et non orci. Curabitur maximus, enim nec
                                    finibus accumsan, enim dui porta nisi, fringilla condimentum magna tortor eu neque.
                                    Quisque justo arcu, tempus vitae orci eget, faucibus bibendum felis. Quisque
                                    viverra ex mi, vitae efficitur urna condimentum vel. Nulla sollicitudin risus nec
                                    felis pulvinar aliquet. Cras eu dui molestie, finibus orci ac, porttitor est.
                                    Vestibulum in orci risus. Curabitur facilisis convallis nisl.</p>
                                <p>Nunc pellentesque odio ac tempus semper. Vivamus congue nulla in ligula vulputate
                                    venenatis. Integer porta ut tortor sit amet egestas. Vivamus pharetra tincidunt
                                    diam, id feugiat nisi finibus ac. Pellentesque id eros quis libero hendrerit
                                    auctor. Phasellus eu orci dui. Suspendisse vehicula nisl vel ante lobortis
                                    consequat. Etiam eget odio lacinia, vehicula enim non, scelerisque sapien. Mauris
                                    sollicitudin tortor commodo eleifend suscipit. Pellentesque sit amet finibus
                                    lectus. Sed eu est lacinia, suscipit metus nec, pretium leo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="hidden-xs col-sm-1 col-md-2">
                    </div>
                </section>
            </section>
        </article>
    </div>
    <%include ../layout/footer%>
    <script src="static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</body>

</html>