<!doctype <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/read-post.css" rel="stylesheet">

    <title><%=data.post.title%></title>
</head>

<body>
    <%include ../layout/header%>
    <div class="container">
        <article>
            <header>
                <h1>
                    
                </h1>
            </header>
            <div class="background-bar">
            </div>
            <section class="container-fluid main-body">
                <section class="row">
                    <div class="hidden-xs col-sm-1 col-md-1">
                    </div>
                    <div class="col-md-10">
                        <div class="content-holder">
                            <div class="content-description">
                                <div class="title">
                                    <h3>
                                        <%=data.post.title%>
                                    </h3>
                                </div>
                            </div>
                            <div class="content-body">
                                <%=data.post.content%>
                            </div>
                            <div class="author">
                                <%=data.post.author%>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </article>
    </div>
    <%include ../layout/footer%>
    <script src="/static/js/popper.min.js"></script>
</body>

</html>