<footer>
    <div class="footer  py-5  ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 footer-one">
                    <img src="http://jetcar.vn/wp-content/uploads/2017/12/logo-jetcar.-1.png" alt="Logo" style="width:120px;">
                    <p class="pt-4">Cras sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Cras sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 footer-three">
                    <h5>Dịch vụ nổi bật</h5>
                    <ul class="list-unstyled">
                        <li><a href="maintenance.html">Maintenance Tips</a></li>
                        <li><a href="contact.html">Locations</a></li>
                        <li><a href="about.html">Testimonials</a></li>
                        <li><a href="about.html">Careers</a></li>
                        <li><a href="about.html">Partners</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 footer-four">
                    <h5>Helpful Links </h5>
                    <ul class="list-unstyled">
                        <li><a href="maintenance.html">Maintenance Tips</a></li>
                        <li><a href="contact.html">Locations</a></li>
                        <li><a href="about.html">Testimonials</a></li>
                        <li><a href="about.html">Careers</a></li>
                        <li><a href="about.html">Partners</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright bglight1 border pt-2">
        <div class="container">
            <div class="row justify-content-md-center">
                <p> © 2018 Car5Star Software </p>
            </div>
        </div>
    </div>
</footer>