<footer>
    <div class="footer  py-5  ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 footer-one">
                    <img src="/static/img/logo.png" alt="Logo" style="width:120px;">
                    <p class="pt-4">Car5Star với những ô tô sang trọng, hiện đại và cao cấp nhất, 
                        danh mục đầy đủ các dòng xe đa dạng về chủng loại, trang thiết bị hiện đại chắc chắn 
                        thỏa mãn tất cả các yêu cầu, dù khắt khe nhất, khó tính nhất của mọi đối tượng khách hàng.</p>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 footer-three">
                    <h5>Dịch vụ nổi bật</h5>
                    <ul class="list-unstyled">
                        <li>Dịch vụ cưới hỏi</a></li>
                        <li>Du lịch nước ngoài</a></li>
                        <li>Thuê xe tháng</li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 footer-three">
                        <h5>Trợ giúp</h5>
                        <ul class="list-unstyled">
                            <li><a href="chat">Chat với admin</a></li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
    <div class="copyright bglight1 border pt-2">
        <div class="container">
            <div class="row justify-content-md-center">
                <p> © 2018 Car5Star Software </p>
            </div>
        </div>
    </div>
</footer>